<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet" th:href="@{/css/formatting.css}" >-->
    <title>Gestion Bancaire</title>
</head>

<div th:fragment="frag_transfert(duAu, tabledata)" class="form-row">

    <div class="col">
        <label></label>
        <p th:text="${duAu}"></p>
    </div>

    <div class="col">
        <label>Select Compte</label>
        <select class="form-control" th:id="'Select'+${duAu}" th:name="'select'+${duAu}">
            <option value="0">Select Compte</option>
            <option th:each="dataList: ${tabledata}" th:text="*{dataList.compteId}"
                    th:value="*{dataList.compteId}"></option>
        </select>
    </div>

    <div class="col">
        <label>Nom Compte</label>
        <input disabled type="text" class="form-control nom" th:id="'nom'+${duAu}">
    </div>

    <div class="col">
        <label>Solde Compte</label>
        <input disabled type="text" class="form-control solde" th:id="'solde'+${duAu}">
    </div>

    <script>
        $('#Select[[${duAu}]]').change(function () {
            var idValue = $(this).children(":selected").attr('value');
            var duAu = '[[${duAu}]]';
            if (idValue != 0) {
                $.ajax({
                    url: "/formResult",
                    type: "POST",
                    data: {
                        id: idValue
                    },
                    success: function (result) {
                        $('#nom[[ ${duAu}]]').val(result['nom']);
                        $('#solde[[${duAu}]]').val(result['solde']);
                        /*var yoursolde = document.getElementById("solde[[${duAu}]]").value;
                        console.log("value yoursolde: " + yoursolde);*/

                        if (duAu === 'Du') {
                            $('#nomAu').val("");
                            $('#soldeAu').val("");

                            $('#SelectAu').empty().append('<option value="0">Select Compte</option>');

                            $.each(result['comptes'], function (i, d) {
                                $('#SelectAu').append('<option value="' + d.id + '">' + d.id + '</option>');
                            });
                        }

                        soldeValid();

                    }
                });
                /*$('#nom').val(idValue);
                $('#solde').val(idValue);*/
            } else {
                $('#nom[[${duAu}]]').val("");
                $('#solde[[${duAu}]]').val("");
                if (duAu === 'Du') {
                    $.ajax({
                        url: "/getAllComtes",
                        type: "POST",

                        success: function (result) {
                            $('#nomAu').val("");
                            $('#soldeAu').val("");

                            $('#SelectAu').empty().append('<option value="0">Select Compte</option>');

                            $.each(result, function (i, d) {
                                $('#SelectAu').append('<option value="' + d.id + '">' + d.id + '</option>');
                            });

                        }
                    });
                }

            }
        });
    </script>

</div>

</html>
