<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<div class="container text-center" id="HTMLtoPDF">
    <br>
    <h2 th:text="'Les Opération de '+${nomCompte}"></h2>
    <br>
    <h3 th:text="'Son Solde est : '+${solde}+' DH'"></h3>
    <br>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Id</th>
            <th> Montant</th>
            <th> Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operation : ${operations}">
            <td th:text="${operation.getId()}"/>
            <td th:text="${operation.getMontant()}"/>
            <td th:text="${operation.getDate()}"/>

        </tr>
        </tbody>
    </table>
</div>
<div class="container text-right">
    <button class="btn btn-info"  onclick="HTMLtoPDF()">Download PDF</button>
</div>

<script type="text/javascript" th:src="@{/jspdf.js}"></script>
<script type="text/javascript" th:src="@{/pdfFromHTML.js}"></script>
</body>
</html>