<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>

<body>

<div class="container">
    <h2 th:text="'Les Opération de '+${nomCompte}"></h2>
    <h3 th:text="'Son Solde est '+${solde}"></h3>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> Id </th>
            <th> Montant </th>
            <th> Date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operation : ${operations}">
            <td th:text="${operation.getId()}"/>
            <td th:text="${operation.getMontant()}"/>
            <td th:text="${operation.getDate()}"/>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>