<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="container">
    <h2>Nouvelle Transaction</h2>


    <form action="/operation/save" th:object="${newOp}" name="theForm" method="POST">
        <br><br>
        <label th:text="${nomCompte}"/>
        <input type="hidden" name="compteId" th:value="${id}"/>
        <input type="hidden" name="soldeCompte" placeholder="SoldeCompte" th:value="${soldeCompte}"/>
        <input type="text" id="montant" placeholder="Montant" th:field="${newOp.montant}"/>
        <label>Nature</label>
        <input type="radio" name="action" value="Credit" checked> <label>Créditer</label>
        <input type="radio" name="action" value="Debit"> <label>Débiter</label>
        <button type="submit" class="btn btn-info">Valider</button>
        <label th:name="error" id="error" style="display: none" class="alert alert-danger">Veuillez saisir un montant qui ne depasse pas votre solde</label>


    </form>
</div>

<script>
    function setInputFilter(textbox, inputFilter) {
        $('button').attr("disabled", "disabled");
        var solde = parseFloat('[[${soldeCompte}]]');
        //console.log(solde);

        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {

                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                    var validate;
                    if (this.value === ''||this.value==='.')
                        validate = 0;
                    else
                        validate = parseFloat(this.value);


                    /* if (validate ===0 ){
                            $('button').attr("disabled","disabled");

                        }else if(validate!=0 ){
                            $('button').removeAttr("disabled");
                        }else {
                            $('button').attr("disabled","disabled");
                        }
*/
                    //console.log(document.theForm.action.value);

                    if (validate === 0 || ((solde < validate) && (document.theForm.action.value === "Debit"))) {
                        $('button').attr("disabled", "disabled");
                        if((solde < validate) && (document.theForm.action.value === "Debit")){
                            document.getElementById("error").style.display = 'inline';
                        }

                    } else if ((validate != 0 && solde >= validate) || (document.theForm.action.value === "Credit")) {
                        $('button').removeAttr("disabled");
                        document.getElementById("error").style.display = 'none';
                    }/* else {
                        $('button').attr("disabled", "disabled");
                    }*/


                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });

    }

    setInputFilter(document.getElementById("montant"), function (value) {
        return /^\d*[.]?\d*$/.test(value);
    });
</script>
</body>
</html>